.search-bar-name {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 2%;
}

.search-bar-tag {
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-input {
    border: none;
    border-bottom: 2px solid #E7E9EB;
    color: gray;
    font-size: 1.5vw;
    width: 97%;
    font-family: 'Raleway', sans-serif;
}

.tag-input {
    border: none;
    border-bottom: 2px solid #E7E9EB;
    color: gray;
    font-size: 1.5vw;
    width: 97%;
    font-family: 'Raleway', sans-serif;
}