.student-profile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #E7E9EB;
    padding-bottom: 10px;
}

.student-image-container {
    padding-top: 20px;
    padding-left: 20px; 
}

.student-profile-info {
    width: inherit;
    padding-left: 25px;
}

.student-profile img {
    border: 2px solid #E7E9EB;
    border-radius: 50%;
    width: 125px;
    height: 125px;
}

.student-name {
    font-weight: bolder;
    font-size: 3vw;
    margin: 10px;
    white-space: nowrap;
}

.student-statistics {
    padding-left: 25px;
    font-size: 1.2vw;
}

.student-statistics p {
   margin: 1%;
}

.toggle-butn {
    background-color: white;
    border: none;
    font-size: 4vw;
    padding-right: 25px;
    color: gray;
    height: 50px;
    width: 50px;
}

.toggle-butn:hover {
    color: black;
    cursor: pointer;
}

.student-grade-list-item {
    list-style: none;
    display: flex;
}

.student-grade-list-item p {
    margin: 0%;
}

.grade {
    padding-left: 10px;
}

.input-tag-container {
   border-bottom: 1px solid lightgray;
   padding-bottom: 10px;
   width: 20%;
}

.input-tag {
    padding-left: 5px;
    border: none;
    font-family: 'Raleway', sans-serif;
    width: 90%;
}

.tag-item-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0%;
}

.tag-item{
    list-style: none;
    padding-right: 5px;
    padding-bottom: 5px;
}

.tag-text{
    background-color: #E7E9EB;
    border-radius: 6px;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
}