body {
    background-color: #E7E9EB;
    font-family: 'Raleway', sans-serif;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.student-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    height: 80%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px lightgray;
}

.student-list{
    height: 85%;
    width: 100%;
    overflow-y: scroll;
}

.search-bar-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15%;
}