.student-profile {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #E7E9EB;
    padding-bottom: 10px;
}

.student-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.student-profile-info {
    width: 80%;
}

.student-profile img {
    border: 2px solid #E7E9EB;
    border-radius: 50%;
    width: 75%;
    height: 75%; 
}

.student-name {
    font-weight: bolder;
    font-size: 36px;
    margin: 10px;
}

.student-statistics {
    padding-left: 25px;
    color: gray;
}

.student-statistics p {
   margin: 1%;
}